@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap'); */


:root {
    --primary: #1aac83;
    --error: #e7195a
}

body {
    background-color: #242424;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #fff;
}

header .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: #333;
    text-decoration: none;
}

.pages {
    max-width: 1400px;
    padding: 20px;
    margin: 0 auto;
}

.home {
    display: grid;
    gap: 20px;
    grid-template-columns: 3fr 1fr;
}

.workout-details {
    background-color: #424242;
    border-radius: 2rem;
    padding: 20px;
    margin: 20px auto;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.workout-details h4 {
    margin: 0 0 10px 0;
    font-size: 1.2em;
    color: var(--primary);
}

.workout-details p {
    margin: 0;
    font-size: 0.9em;
    color: #d1d1d1;
}

.workout-details span {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background-color: #f1f1f1;
    padding: 6px;
    border-radius: 50%;
    color: #333;
}

/* new workout form */

.create {

    color: #d1d1d1;
    background-color: #424242;
    border-radius: 2rem;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

label,
input {
    display: block;
}

input {
    padding: 1rem;
    outline: none;
    margin-top: 1.1rem;
    margin-bottom: 1.1rem;
    width: 100%;
    border-radius: 2rem;
    box-sizing: border-box;
    background-color: #333;
    color: #d1d1d1;
}

input:hover {
    border: 0.01rem solid var(--primary);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    transition: all 1s ease-in-out;
}

form button {
    background: var(--primary);
    border: 0;
    color: #fff;
    padding: 10px;
    font-family: "Poppins";
    border-radius: 2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form button:hover {
    background: #0b624a;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

div.error {
    padding: 10px;
    background: #ffefef;
    border: 1px solid var(--error);
    color: var(--error);
    border-radius: 4px;
    margin: 20px 0;
}

/* NAVBAR */
nav {
    display: flex;
    align-items: center;
}

nav a {
    margin-left: 1rem;
}

/*  */



form.signup,
form.login {

    color: #d1d1d1;
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #424242;
    border-radius: 2rem;
}